{% extends 'base.html'  %}

{% block title %} Add a new Collection {% endblock %}

{% block content %}

<div class="col-6 text-left">
  <h2>Add a new Collection</h2>
  <p>Your collection name can be anything you want (Home, Office, My Collection, etc.) but the name must be unique.</p>
  <form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="mb-3">
      {{ field.label }}
      {{ field(class_="form-control") }}
      {% for error in field.errors %}
      <small class="form-text text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    {% endfor %}
    <div class="d-flex justify-content-between">
      <button class="btn btn-success" type="submit">Save</button>
      <a href="{{ url_for('show_collections') }}" class="btn btn-secondary">Cancel</a>
    </div>
  </form>
</div>

{% endblock %}