{% extends 'base.html'  %}

{% block title %} Getting Started {% endblock %}

{% block content %}

<h1>Getting Started</h1>

<img class="rounded" src="/static/img/plants.png" width="300">

<div class="container text-left m-3">

<br><h3>How to use <i class="fab fa-pagelines">Water Mate</i></h3>

<p>Water Mate is a tool to help you organize your plant collection, keep track of the health of your plants, and help remind you when it's time to water your plants. You have full control over how your collection is organized, so organize your collection in a way that makes sense for you!</p>
    
<p>Water Mate calculates a watering schedule for each of your plants using your location, the type of plant, and the type of lightsource your plant has access to in your home. Its up to you to identify what kind of plant you have, and make sure you have the appropriate environment for your plant - if you aren't sure what your plant needs you should research this before using this app. If you love the plant but, don't have the optimal conditions, Water Mate will adjust the watering schedule for your plant to help.</p>

<p>Remember to <u><b>always</b></u> check your plant's soil moisture before you water your plant! As a general rule of thumb, most plants need good drainage, and need soil to dry out to some degree between watering to prevent root rot. If the soil is still wet use the snooze feature and check again in a few days.</p>

<br><h3>Set up your Collection</h3>
<ul class="list-group">
    <li class="list-group-item"><h5>1. Add your Collection(s).</h5>
    <p>Visit your <a href="{{ url_for('show_collections')}}">Collections</a> view or the <a href="{{ url_for('dashboard')}}">Dashboard</a> to add your Collection. You can add multiple Collections if you are managing more than one collection.</p></li>
    <li class="list-group-item"><h5>2. Add your Room(s).</h5>
    <p>Once your Collection is created, add a Room to your collection from the <a href="{{ url_for('dashboard')}}">Dashboard</a>. You'll be directed to a view of the collection where you can add more rooms if needed.</p></li>
    <li class="list-group-item"><h5>3. Add your Lightsource(s).</h5>
    <p>Once a room is created, you can add the Lightsources that are available in that room from the <a href="{{ url_for('dashboard')}}">Dashboard</a> or the Room View that you will be directed to for easier setup.</p></li>
    <li class="list-group-item"><h5>4. Add your Plant(s).</h5>
    <p>Last but not least - add your Plants to the Room! Its reccommended that you upload a photo of your plant to help you remember which one it is, or you can choose a unique name for your plant such as the specific species name or the plant's given name. Choose the type of plant carefully, and choose the Lightsource the plant is using.</p></li>
    <li class="list-group-item"><h5>5. Water your Plant(s).</h5>
    <p>Make sure that you water your plant the same day you added it to the schedule.</p></li>
</ul>

<br><h3>Using the Water Manager</h3>
<p>The <a href="{{ url_for('water_manager') }}">Water Manager</a> is your task view for watering your plants, snoozing the plant water schedule, and adding notes about the event (if applicable). Plants that are ready for care will appear in this view and remain in the view until they are Watered or Snoozed.</p>

<p>Adding notes to your water event is helpful for tracking details such as the overal health of the plant during this check, or any other notes (such as pest prevention treatment or fertilization). Notes added will be available to view in the plant's water history view.</p>

<p>Clicking Water will update the plant's water schedule, generate a solar forcast using the water calculation algorithm and set the next water date in the plant's water schedule.</p>

<p><b>**If the plant's water schedule is set to manual, clicking Water will not generate a solar forcast and instead use the water interval manually set by the user.</b></p>

<p>Clicking Snooze will update the plant's water schedule next water date to check the plant again in 3 days, regardless of manual or automatic settings.</p>

<br><h3>Managing your plant's care routine</h3>
<p>From anywhere in the app you can click on a plant's name to view the plant's details page.</p>

<p>In the plant details page, you can view where the plant resides in your collection, view the plant's current water schedule, and view the care history table that shows care events and notes about the plant (if applicable).</p>

<p>You can edit the plant's details such as the name, type, or photo. Change the plant's location or lightsource, and even set a manual water schedule to control the exact number of days between watering that you want (for controlled environments).</p>

<p>If your plant dies you can delete it from the app <i class="far fa-sad-cry"></i>, but its reccommended that you review the water history table to see if you can understand why it may have died.</p>

<br><h3>Tips for success</h3>
<ul class="list-group">
    <li class="list-group-item"><h5>1. Stagger your setup.</h5>
    <p>If you have a large plant collection in many rooms, or just a large collection in general, it's reccomemended to set up your plants in small groups.</p>
    <p>For example, set up your Bedroom plants one day, then set up the Kitchen plants the next day, or set up a group of plants next to a specific window or artificial light spread out over multiple days. This can help spread out the watering days and prevent heavy waterings days.</p>
    <p>If you would rather water all of your plants on specific days you can set them up all at once and similar plant types will likely fall on the same days if they are in the same environment.</p></li>
    <li class="list-group-item"><h5>2. Always check the plant's soil before you water.</h5>
    <p>Water Mate calculates a water date for your plants, but it doesn't consider other important enviromental factors such as a lightsource being blocked by trees or a building, cloud cover, temperature, or general humidity in your environment (at least not yet!). Therfore, you should <u><b>always</b></u> check your plant's soil before you water.</p>
    <p>Check the soil with your hands, use a toothpick, or use a moisture meter to check your soil before you water.</p>
    <p>Many plants can survive some underwatering, but most plants will die if they are overwatered for too long.</p></li>
    <li class="list-group-item"><h5>3. Know what type of plant you have and the general care requirements it needs to thrive.</h5>
    <p>Most plants will thrive in bright indirect light, but this can be accompished in many different ways. A sheer curtain in a West window, or placing a plant a few feet away from a South window(in the southern hemisphere a North window).</p>
    <p>Some plants can survive in low light environments but will likely not thrive or grow much. If you love plants that need a lot of light but your only have access to low light conditions - consider adding artifical plant growing lights. 
    <p>Does your plant like a lot of humidity? Consider placing it in a humid area or adding a humidifier next to your plant.</p></li>
    <li class="list-group-item"><h5>4. Make sure the soil is appropriate for the type of plant you have.</h5>
    <p>People often overlook the soil or potting medium for their plants and assume the soil the plant arrived in is appropriate for the plant. Most often, this is not true! Doing some research on the type of soil your plant needs will make a huge difference in the health of your plant.</p>
    <p>Experiment with making your own soil mixes that work best for your environment.</p></li>
    <li class="list-group-item"><h5>5. Watch for signs of poor health and make minor adjustments as needed.</h5>
    <p>Is your plant wilting, shriveled, or the leaves gettting burned spots from the sun or drying leaf tips? Are the leaf colors looking faded? This could be a sign your plant is getting too much direct sunlight or not enough water.</p>
    <p>Are the leaves turning yellow, stems getting soft/soggy, or soil getting mold or have a bad odor? This could be a sign that you are watering your plant too much and can also be a consequence of a plant not getting the light it needs to photosynthesize.</p>
    <p>Take notes about the condition of your plant and make minor adjustments, moving it closer or farther from lightsources and note what effect this has on the plant over the course of a few weeks.</p></li>
</ul>

</div>

{% endblock %}