{% extends 'base.html'  %}

{% block title %} Water Manager {% endblock %}

{% block content %}

<h1>Water Manager</h1>

{% if plants %}
<p>Click Water to mark your plant watered, or Snooze to snooze your plant's water schedule for 3 days. Click "Add Notes" to add notes if applicable.</p>
{% else %}
<p>There are no plants to water today, take a break! <i class="fab fa-pagelines"></i></p>
{% endif %}

<div class="row row-cols-1 row-cols-md-3 g-4" id="plants_container">
{% for plant in plants %}
  <div class="col" data-col-id="{{ plant.id }}">
    <div class="card h-100" id="{{ plant.id }}" style="width: 14rem;">
      <img src="{{ plant.image }}" class="card-img-top" alt="{{ plant.name }}">
      <div class="card-body">
        <h3 class="card-title"><a href="{{ url_for('view_plant', plant_id=plant.id)}}">{{ plant.name }}</a></h3>
        <div class="card-text"><a class="btn btn-primary m-2 notes_btn">Add Notes</a><form method="POST" class="notes_form" style="display: none;">
            <div class="mb-3">
            {{ form.notes }}
            {% for error in form.notes.errors %}
            <small class="form-text text-danger">
            {{ error }}
            </small>
            {% endfor %}
            <!-- <button type="button" name="water_button" data-plant-id="{{ plant.id }}" class="btn btn-success m-2">Water</button><button type="button" name="snooze_button" data-plant-id="{{ plant.id }}" class="btn btn-warning m-2">Snooze</button> -->
            </div>
          </form>
          <button type="button" name="water_button" data-plant-id="{{ plant.id }}" class="btn btn-success m-2">Water</button><button type="button" name="snooze_button" data-plant-id="{{ plant.id }}" class="btn btn-warning m-2">Snooze</button>
        </div>
      </div>
      <div class="card-footer">
        {% for schedule in schedules %}
        {% if schedule.plant_id == plant.id %}
        <small class="text-muted">Last watered {{ schedule.get_water_date}}</small>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}