{% extends 'base.html'  %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<h1>Dashboard</h1>
<p>Welcome to the watering dashboard, {{ user.name }}!</p>

<p>Here are the plants that need watering today:</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
{% for plant in plants %}
  <div class="col">
    <div class="card h-100">
      {% if 'succulents.png' not in plant.image %}
        <img src="{{ url_for('download_file', filename=plant.image) }}" class="card-img-top" alt="{{ plant.name }}">
      {% else %}
        <img src="{{ plant.image }}" class="card-img-top" alt="{{ plant.name }}">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ plant.name }}</h5>
        <p class="card-text">{{ plant.water_schedule}}</p>
        <p class="card-text"><a href="#" class="btn btn-success m-2">Water</a><a href="#" class="btn btn-warning m-2">Snooze</a></a><a href="#" class="btn btn-primary m-2">Add Notes</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last watered {{ plant.water_schedule.water_date}}</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}