{% extends 'base.html'  %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<h1>Dashboard</h1>
<p>Welcome to the watering dashboard, {{ user.name }}!</p>

<p>Here are the plants that need watering today:</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
{% for plant in plants %}
  <div class="col">
    <div class="card h-100">
      <img src="{{ plant.image }}" class="card-img-top" alt="plant">
      <div class="card-body">
        <h5 class="card-title">{{ plant.name }}</h5>
        <p class="card-text">{{ plant.water_schedule}}</p>
        <p class="card-text"><a href="#" class="btn btn-success">Water</a><a href="#" class="btn btn-warning">Snooze</a></a><a href="#" class="btn btn-primary">Edit</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last watered {{ plant.water_schedule.water_date}}</small>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="col">
    <div class="card h-100">
      <img src="/static/img/succulents.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><a href="#" class="btn btn-success">Water</a><a href="#" class="btn btn-warning">Snooze</a></a><a href="#" class="btn btn-primary">Edit</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/static/img/succulents.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><a href="#" class="btn btn-success">Water</a><a href="#" class="btn btn-warning">Snooze</a></a><a href="#" class="btn btn-primary">Edit</a></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>

{% endblock %}