{% extends 'base.html'  %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<h1>Dashboard</h1>
<p>Welcome to the watering dashboard, {{ user.name }}!</p>

<p>Here are the plants that need watering today:</p>

<div class="row row-cols-1 row-cols-md-3 g-4" id="plants_container">
{% for plant in plants %}
  <div class="col" data-col-id="{{ plant.id }}">
    <div class="card h-100" id="{{ plant.id }}" style="width: 14rem;">
      {% if '/static/img/' not in plant.image %}
        <img src="{{ url_for('download_file', filename=plant.image) }}" class="card-img-top" alt="{{ plant.name }}">
      {% else %}
        <img src="{{ plant.image }}" class="card-img-top" alt="{{ plant.name }}">
      {% endif %}
      <div class="card-body">
        <h3 class="card-title"><a href="{{ url_for('view_plant', plant_id=plant.id)}}">{{ plant.name }}</a></h3>
        <div class="card-text"><a class="btn btn-primary m-2 notes_btn">Add Notes</a><form method="POST" class="notes_form" style="display: none;">
          <!-- {{ form.hidden_tag() }} -->
            <div class="mb-3">
            {{ form.notes }}
            {% for error in form.notes.errors %}
            <small class="form-text text-danger">
            {{ error }}
            </small>
            {% endfor %}
            <button type="submit" name="water_button" data-plant-id="{{ plant.id }}" class="btn btn-success m-2">Water</button><button type="submit" name="snooze_button" data-plant-id="{{ plant.id }}" class="btn btn-warning m-2">Snooze</button>
            </div>
            <!-- <button type="submit" name="water_button" data-plant-id="{{ plant.id }}" class="btn btn-success m-2">Water</button><button type="submit" name="snooze_button" data-plant-id="{{ plant.id }}" class="btn btn-warning m-2">Snooze</button> -->
          </form>
          <!-- <p class="card-text"><button type="submit" id="water_button" class="btn btn-success m-2">Water</button><button type="submit" id="snooze_button" class="btn btn-warning m-2">Snooze</button></p> -->
        </div>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">Last watered {{ plant.water_schedule.water_date}}</small>
      </div> -->
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}