{% extends 'base.html'  %}

{% block title %}Edit Your Password{% endblock %}

{% block content %}

<h1>Edit Your Password</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden'%}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control") }}
    {% endfor %}
 
    <a href="{{ url_for('view_profile') }}" class="btn btn-secondary m-2">Cancel</a>
    <button class="btn btn-success m-2" type="submit">Update Password</button>
  </form>

{% endblock %}