{% extends 'base.html'  %}

{% block title %}Edit Your Password{% endblock %}

{% block content %}

<div class="col-6 text-left">
  <h2>Edit Your Password</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden'%}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control") }}
    {% endfor %}
    <div class="d-flex justify-content-between">
      <button class="btn btn-success m-2" type="submit">Save</button>
      <a href="{{ url_for('view_profile') }}" class="btn btn-secondary m-2">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}