{% extends 'base.html'  %}

{% block title %} Signup Page 1 {% endblock %}

{% block content %}

<h1>Signup Page 1</h1>

<p>Please enter your City and State so we can calculate your geolocation.</p>

<form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="mb-3">
      {{ field.label }}
      {{ field(class_="form-control") }}
      {% for error in field.errors %}
      <small class="form-text text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    {% endfor %}
    <button class="btn btn-success" type="submit">Get Location</button>
  </form>
{% endblock %}