{% extends 'base.html'  %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="col-6 text-left">
  <h2>Login</h2>
  <p>Please enter your username and password. All fields are required.</p>
  <form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="mb-3">
      {{ field.label }}
      {{ field(class_="form-control") }}
      {% for error in field.errors %}
      <small class="form-text text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    {% endfor %}
    <button class="btn btn-success" type="submit">Login</button>
  </form>
</div>
{% endblock %}