{% extends 'base.html'  %}

{% block title %} Signup {% endblock %}

{% block content %}

<h1>Signup</h1>

<p>Please enter your City, State/Territory, and Country so we can calculate your geolocation.</p>
<p>Please enter your name, email, username, and password. All fields are required.</p>

<form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="mb-3">
      {{ field.label }}
      {{ field(class_="form-control") }}
      {% for error in field.errors %}
      <small class="form-text text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    {% endfor %}
    <button class="btn btn-success" type="submit">Create Account</button>
  </form>
{% endblock %}