{% extends 'base.html'  %}

{% block title %} Signup {% endblock %}

{% block content %}

<h1>Signup</h1>

<p>Please enter your City, State/Territory, Country, or City, State/Territory, or City, Country to calculate an accurate geolocation.</p>
<p>Name, email, username, and password are all required to create an account.</p>

<form class="m-5" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="mb-3">
      {{ field.label }}
      {{ field(class_="form-control") }}
      {% for error in field.errors %}
      <small class="form-text text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    {% endfor %}
    <button class="btn btn-success" type="submit">Create Account</button>
  </form>
{% endblock %}